[Desktop Entry]
Version=1.0
Type=Application
GenericName=Guayadeque
Name=Guayadeque Music Player
Name[el]=Συσκευή αναπαραγωγής μουσικής Guayadeque
Name[fr]=Lecteur de musique Guayadeque
Name[it]=Lettore musicale Guayadeque
Name[lt]=Guayadeque muzikos grotuvas
Name[pt_BR]=Guayadeque Reprodutor de Música
Comment=Play and organize your music, listen to radios, podcasts and more...
Comment[el]=Ακούστε και οργανώστε τη μουσική σας, ακούστε ραδιόφωνα, podcasts και πολλά άλλα...
Comment[fr]=Écoutez et organisez votre musique, écoutez des radios, des podcasts, et plus encore...
Comment[it]=Riproduci e organizza la tua musica, ascolta radio, podcast e altro ancora...
Comment[lt]=Groti ir tvarkyti savo muziką, klausytis radijų, tinklalaidžių ir daugiau...
Comment[pt_BR]=Reproduza e organize suas músicas, escute rádios, podcasts e mais...
Exec=guayadeque %U
Icon=guayadeque
Terminal=false
Categories=GNOME;GTK;Audio;AudioVideo;Player;
Keywords=Audio;Player;Sound;
MimeType=application/ogg;application/x-flac;audio/mp4;audio/mpeg;audio/mpegurl;audio/ogg;audio/x-ape;audio/x-flac;audio/x-m4a;audio/x-mod;audio/x-mp3;audio/x-mpeg;audio/x-mpegurl;audio/x-ms-asf;audio/x-ms-asx;audio/x-ms-wax;audio/x-ms-wma;
StartupWMClass=guayadeque
X-GNOME-Autostart-Phase=Desktop
X-GNOME-Autostart-Notify=true
X-Ayatana-Desktop-Shortcuts=PlayPause;Stop;Previous;Next;

[X-PlayPause Shortcut Group]
Name=Play - Pause
Exec=dbus-send --type=method_call --dest=org.mpris.guayadeque /Player org.freedesktop.MediaPlayer.Play

[X-Stop Shortcut Group]
Name=Stop (+shift Stop at End)
Exec=dbus-send --type=method_call --dest=org.mpris.guayadeque /Player org.freedesktop.MediaPlayer.Stop

[X-Previous Shortcut Group]
Name=Prev. (+shift Prev. Album)
Exec=dbus-send --type=method_call --dest=org.mpris.guayadeque /Player org.freedesktop.MediaPlayer.Prev

[X-Next Shortcut Group]
Name=Next (+shift Next Album)
Exec=dbus-send --type=method_call --dest=org.mpris.guayadeque /Player org.freedesktop.MediaPlayer.Next
